{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "overrides": [
    {
      "files": ["*.ts"],
      "extends": [
        "plugin:prettier/recommended",
        "prettier",
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended"
      ],
      "parserOptions": {
        "project": ["./tsconfig.json"]
      }
    }
  ],
  "plugins": ["@typescript-eslint"],
  "rules": {}
}
